.logo{
    display: flex;
    justify-content: center;
}
.menu1{
    display: flex;
    gap: 40px;
    margin-left: 20px;
    color: black;
}
i{
    margin-top: -30px;
}
.menu2{
    display: flex;
    gap: 38px;
    margin-left: 1180px;
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.book{
    font-size: 15px;
    margin-top: -30px;
    margin-left: -30px;
}
.menu3{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 15px;
    padding-bottom: 25px;
}

.menu3 a:hover{
    border-bottom: 2px solid rgba(104, 212, 212, 0.716);
    font-weight: 500;
}
.new_arrivals{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
.button2{
    border: 1px solid #000000;
    padding: 8px;
}
h2{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  justify-content: center;
}
h2{
    margin-top: 40px;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta a {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(104, 212, 212, 0.716);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .cta:hover .hover-underline-animation:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .button1{
    display: flex;
    justify-content: center;
    margin-top:15px;
  }
 a{
    text-decoration: none;
 }
 span{
    text-decoration: none;
 }
.banners{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.name1_banners h2{
    position: relative;
    margin-right: 650px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 5px;
}
 .name2_banners h2{
    position: relative;
    margin-left: 650px;
    margin-top: -40px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-bottom: 5px;
}
.link1{
    text-decoration: none;
    color: #000000;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 350px;
}
.link1:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.link2{
    text-decoration: none;
    color: #000000;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 580px;
}
.link2:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.category h2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 570px;
    margin-top: -110px;
}
.shop_category{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    text-decoration: none;
}
.shop_category img{
    border-bottom: none;
    text-decoration: none;
}
.necklaces_pendants h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
  margin-top: 5px;
}
.rings h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.earrings h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.bracelets h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.watches h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.home h4{
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 5px;
}
.icons h2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.icons{
    margin-bottom: 30px;
}
.icons p{
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.love_banner{
  background-image: url(/image/banner4.webp);
  width: 100%;
  height: 530px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.love_banner h2{
  padding-top: 140px;
  padding-left: 750px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
}
.love_text h4{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  margin-top: -10px;
  text-align: center;
  margin-left: 750px;
  font-size: 15px;
}
.love_banner a{
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 1005px;
}
.link3:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.experience h2{
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 80px;
  font-size: 25px;
}
.pic_experiense{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  text-decoration: none;
}
.pic_experiense h5{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: -230px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 13px;
}
.pic_experiense h4{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
}
.pic_experiense a{
    text-decoration: none;
    color: #000000;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
.complimentary{
  text-align: center;
}
.link4:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.service_text{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 70px;
}
.service{
  text-align: center;
}
.link5:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.book_appointment{
  text-align: center;
}
.link6:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.box{
  text-align: center;
}
.link7:hover{
  border-bottom: 2px solid rgba(104, 212, 212, 0.716);
  font-weight: 500;
}
.input {
  position: relative;
  max-width: 190px;
  border: none;
  box-shadow: 0px 1.5px 0px 0px #858585;
  padding: .5rem;
  transition: all 200ms ease-in-out;
  opacity: .8;
}

.input-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.input-label {
  font-size: .625rem;
  font-weight: bold;
  color: #858585;
  margin-bottom: 4px;
  margin-left: 1px;
}

.input-helper {
  color: #858585;
  font-size: .5rem;
  margin-top: 6px;
  margin-left: 1px;
  visibility: hidden;
  transform: translateY(-.5rem);
  transition: all 100ms linear;
  z-index: -1;
}

.input::placeholder {
  color: rgb(145, 145, 145);
  font-size: .75rem;
}

.input::after {
  content: attr(placeholder);
  position: absolute;
  color: #161616;
  top: 0;
  left: 0;
}

.input:focus {
  border: none;
  box-shadow: 0px 1.5px 0px 0px rgba(104, 212, 212, 0.716);
  outline: none;
}

.input:focus + .input-helper {
  visibility: visible;
  transform: translateY(0rem);
}

.input:focus::placeholder {
  visibility: hidden;
}
.follow{
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  margin-right: 270px;
}
.social_networks{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 55px;
  margin-top: -40px;
}
.save{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}